<div class="ps-block--categories-box">
    <div class="ps-block__header">
        <h3>Clothing & Apparel</h3>
        <ul>
            <li><a href="shop-default.html">New Arrivals</a></li>
            <li><a href="shop-default.html">Best Seller</a></li>
        </ul>
    </div>
    <div class="ps-block__content">
        <div class="ps-block__banner"><img src="assets/img/categories/clothing/large.jpg" alt=""></div>
        <div class="ps-block__item"><a class="ps-block__overlay" href="shop-default.html"></a><img src="assets/img/categories/clothing/1.jpg" alt="">
            <p>Womens</p><span>2 Items</span>
        </div>
        <div class="ps-block__item"><a class="ps-block__overlay" href="shop-default.html"></a><img src="assets/img/categories/clothing/2.jpg" alt="">
            <p>Mens</p><span>2 Items</span>
        </div>
        <div class="ps-block__item"><a class="ps-block__overlay" href="shop-default.html"></a><img src="assets/img/categories/clothing/3.jpg" alt="">
            <p>Shoes</p><span>4 Items</span>
        </div>
        <div class="ps-block__item"><a class="ps-block__overlay" href="shop-default.html"></a><img src="assets/img/categories/clothing/4.jpg" alt="">
            <p>Bags</p><span>5 Items</span>
        </div>
        <div class="ps-block__item"><a class="ps-block__overlay" href="shop-default.html"></a><img src="assets/img/categories/clothing/5.jpg" alt="">
            <p>Sunglasses</p><span>10 Items</span>
        </div>
        <div class="ps-block__item"><a class="ps-block__overlay" href="shop-default.html"></a><img src="assets/img/categories/clothing/6.jpg" alt="">
            <p>Accessories</p><span>2 Items</span>
        </div>
        <div class="ps-block__item"><a class="ps-block__overlay" href="shop-default.html"></a><img src="assets/img/categories/clothing/7.jpg" alt="">
            <p>Kid's Fashion</p><span>3 Items</span>
        </div>
    </div>
</div>