<div class="ps-home-categories">
    <div class="ps-container">
        <div class="ps-section__header">
            <h3>Top Departments Of The Week</h3>
        </div>
        <div class="ps-section__content">
            <div class="row align-content-lg-stretch">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                    <div class="ps-block--category-2" data-mh="categories">
                        <div class="ps-block__thumbnail">
                            <img src="assets/img/categories/shop/5.jpg" alt="">
                        </div>
                        <div class="ps-block__content">
                            <h4>Electronics</h4>
                            <ul>
                                <li><a href="shop-default.html">TV Televisions</a></li>
                                <li><a href="shop-default.html">Air Conditioners</a></li>
                                <li><a href="shop-default.html">Washing Machines</a></li>
                                <li><a href="shop-default.html">Audio & Theaters</a></li>
                                <li><a href="shop-default.html">Office Electronics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                    <div class="ps-block--category-2" data-mh="categories">
                        <div class="ps-block__thumbnail"><img src="assets/img/categories/shop/1.jpg" alt=""></div>
                        <div class="ps-block__content">
                            <h4>Clothings</h4>
                            <ul>
                                <li><a href="shop-default.html">Womens</a></li>
                                <li><a href="shop-default.html">Mens</a></li>
                                <li><a href="shop-default.html">Bags & Backpacks</a></li>
                                <li><a href="shop-default.html">Jackets & Robes</a></li>
                                <li><a href="shop-default.html">Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                    <div class="ps-block--category-2" data-mh="categories">
                        <div class="ps-block__thumbnail"><img src="assets/img/categories/shop/9.jpg" alt=""></div>
                        <div class="ps-block__content">
                            <h4>Computers</h4>
                            <ul>
                                <li><a href="shop-default.html">Desktop PC</a></li>
                                <li><a href="shop-default.html">Laptop</a></li>
                                <li><a href="shop-default.html">PC Gaming</a></li>
                                <li><a href="shop-default.html">Storage & Memory</a></li>
                                <li><a href="shop-default.html">PC Components</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                    <div class="ps-block--category-2" data-mh="categories">
                        <div class="ps-block__thumbnail"><img src="assets/img/categories/shop/2.jpg" alt=""></div>
                        <div class="ps-block__content">
                            <h4>Home & Kitchen</h4>
                            <ul>
                                <li><a href="shop-default.html">Funitures</a></li>
                                <li><a href="shop-default.html">Decor</a></li>
                                <li><a href="shop-default.html">Cookwares</a></li>
                                <li><a href="shop-default.html">Utensil & Gadgets</a></li>
                                <li><a href="shop-default.html">Garden Tools</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                    <div class="ps-block--category-2" data-mh="categories">
                        <div class="ps-block__thumbnail"><img src="assets/img/categories/shop/10.jpg" alt=""></div>
                        <div class="ps-block__content">
                            <h4>Healthy & Beauty</h4>
                            <ul>
                                <li><a href="shop-default.html">Makeup</a></li>
                                <li><a href="shop-default.html">Skin Care</a></li>
                                <li><a href="shop-default.html">Hair Care</a></li>
                                <li><a href="shop-default.html">Tools & Equipments</a></li>
                                <li><a href="shop-default.html">Perfurmes</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                    <div class="ps-block--category-2" data-mh="categories">
                        <div class="ps-block__thumbnail"><img src="assets/img/categories/shop/6.jpg" alt=""></div>
                        <div class="ps-block__content">
                            <h4>Jewelry & Watch</h4>
                            <ul>
                                <li><a href="shop-default.html">Pendant</a></li>
                                <li><a href="shop-default.html">Necklace</a></li>
                                <li><a href="shop-default.html">Watch</a></li>
                                <li><a href="shop-default.html">Bracelets</a></li>
                                <li><a href="shop-default.html">Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>