<div id="test">
    <div class="ps-home-banner">
        <div class="ps-section__left">
            <ul class="menu--dropdown">
                <li><a href="#"><i class="icon-fire"></i> Hot Promotions</a>
                </li>
                <li><a href="#"><i class="icon-star"></i> Best Seller</a>
                </li>
                <li><a href="#"><i class="icon-fire"></i> paper-plane</a>
                </li>
                <li><a href="#"><i class="icon-baby-bottle"></i> Eat &amp; Drink for Baby</a>
                </li>
                <li><a href="#"><i class="icon-shirt"></i> Appreal for Baby</a>
                </li>
                <li><a href="#"><i class="icon-baby3"></i> Baby Hygiene</a>
                </li>
                <li><a href="#"><i class="icon-lampshade"></i> Baby Sleeping</a>
                </li>
                <li><a href="#"><i class="icon-shield-check"></i> Secures &amp; Health</a>
                </li>
                <li><a href="#"><i class="icon-umbrella"></i> Baby Out</a>
                </li>
                <li><a href="#"><i class="icon-drawers3"></i> Home Wares</a>
                </li>
                <li><a href="#"><i class="icon-puzzle"></i> Toys</a>
                </li>
                <li><a href="#"><i class="icon-woman"></i> Pregnancy &amp; Maternity</a>
                </li>
                <li><a href="#"><i class="icon-bathtub"></i> Shower For Baby</a>
                </li>
                <li><a href="#"><i class="icon-gift"></i> Gifts &amp; Others</a>
                </li>
            </ul>
        </div>
        <div class="ps-section__center">
            <owl-carousel-o class="ps-carousel--dots"  [options]="customOptions">
                <ng-template carouselSlide>
                  <div class="slide">
                    <a href="#"><img src="assets/img/slider/home-kids/1.jpg" alt=""></a>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide">
                      <a href="#"><img src="assets/img/slider/home-kids/2.jpg" alt=""></a>
                    </div>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="slide">
                      <a href="#"><img src="assets/img/slider/home-kids/3.jpg" alt=""></a>
                    </div>
                  </ng-template>
              </owl-carousel-o>
           
            <a href="#"><img src="assets/img/slider/home-kids/promotion-6.jpg" alt=""></a>
        </div>
        <div class="ps-section__right"><a href="#"><img src="assets/img/slider/home-kids/promotion-1.jpg" alt=""></a><a href="#"><img src="assets/img/slider/home-kids/promotion-2.jpg" alt=""></a><a class="wide" href="#"><img src="assets/img/slider/home-kids/promotion-3.jpg" alt=""></a><a href="#"><img src="assets/img/slider/home-kids/promotion-4.jpg" alt=""></a><a href="#"><img src="assets/img/slider/home-kids/promotion-5.jpg" alt=""></a></div>
    </div>
</div>
