<div class="ps-product-list ps-new-arrivals">
  <div class="ps-container">
    <div class="ps-section__header">
      <h3>المنتجات الجديدة الأكثر مبيعًا</h3>
      <ul class="ps-section__links">
        <li><a routerLink="/public/shop">مشاهدة الكل</a></li>
      </ul>
    </div>
    <div class="ps-section__content">
      <div class="row">
        <div
          *ngFor="let product of products"
          class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6"
        >
        <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>
