<div class="ps-product-list ps-clothings">
    <div class="ps-container">
        <div class="ps-section__header">
            <h3>Consumer Electronics</h3>
            <ul class="ps-section__links">
                <li><a href="shop-grid.html">New Arrivals</a></li>
                <li><a href="shop-grid.html">Best seller</a></li>
                <li><a href="shop-grid.html">Must Popular</a></li>
                <li><a href="shop-grid.html">عرض الكل</a></li>
            </ul>
        </div>
        <div class="ps-section__content">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="ps-product">
                        <div class="ps-product__thumbnail"><a href="product-default.html"><img src="assets/img/products/electronic/1.jpg" alt="" /></a>
                            <div class="ps-product__badge">-16%</div>
                            <ul class="ps-product__actions">
                                
                                
                                
                                
                            </ul>
                        </div>
                        <div class="ps-product__container"><a class="ps-product__vendor" href="#">Go Pro</a>
                            <div class="ps-product__content"><a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a>
                                <div class="ps-product__rating">
                                    <select class="ps-rating" data-read-only="true">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                    </select><span>01</span>
                                </div>
                                <p class="ps-product__price sale">$567.99 <del>$670.00 </del></p>
                            </div>
                            <div class="ps-product__content hover"><a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a>
                                <p class="ps-product__price sale">$567.99 <del>$670.00 </del></p>
                            </div>
                        </div>
                    </div>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="ps-product">
                        <div class="ps-product__thumbnail"><a href="product-default.html"><img src="assets/img/products/electronic/1.jpg" alt="" /></a>
                            <div class="ps-product__badge">-16%</div>
                            <ul class="ps-product__actions">
                                
                                
                                
                                
                            </ul>
                        </div>
                        <div class="ps-product__container"><a class="ps-product__vendor" href="#">Go Pro</a>
                            <div class="ps-product__content"><a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a>
                                <div class="ps-product__rating">
                                    <select class="ps-rating" data-read-only="true">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                    </select><span>01</span>
                                </div>
                                <p class="ps-product__price sale">$567.99 <del>$670.00 </del></p>
                            </div>
                            <div class="ps-product__content hover"><a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a>
                                <p class="ps-product__price sale">$567.99 <del>$670.00 </del></p>
                            </div>
                        </div>
                    </div>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="ps-product">
                        <div class="ps-product__thumbnail"><a href="product-default.html"><img src="assets/img/products/electronic/1.jpg" alt="" /></a>
                            <div class="ps-product__badge">-16%</div>
                            <ul class="ps-product__actions">
                                
                                
                                
                                
                            </ul>
                        </div>
                        <div class="ps-product__container"><a class="ps-product__vendor" href="#">Go Pro</a>
                            <div class="ps-product__content"><a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a>
                                <div class="ps-product__rating">
                                    <select class="ps-rating" data-read-only="true">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                    </select><span>01</span>
                                </div>
                                <p class="ps-product__price sale">$567.99 <del>$670.00 </del></p>
                            </div>
                            <div class="ps-product__content hover"><a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a>
                                <p class="ps-product__price sale">$567.99 <del>$670.00 </del></p>
                            </div>
                        </div>
                    </div>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="ps-product">
                        <div class="ps-product__thumbnail"><a href="product-default.html"><img src="assets/img/products/electronic/1.jpg" alt="" /></a>
                            <div class="ps-product__badge">-16%</div>
                            <ul class="ps-product__actions">
                                
                                
                                
                                
                            </ul>
                        </div>
                        <div class="ps-product__container"><a class="ps-product__vendor" href="#">Go Pro</a>
                            <div class="ps-product__content"><a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a>
                                <div class="ps-product__rating">
                                    <select class="ps-rating" data-read-only="true">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                    </select><span>01</span>
                                </div>
                                <p class="ps-product__price sale">$567.99 <del>$670.00 </del></p>
                            </div>
                            <div class="ps-product__content hover"><a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a>
                                <p class="ps-product__price sale">$567.99 <del>$670.00 </del></p>
                            </div>
                        </div>
                    </div>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="ps-product">
                        <div class="ps-product__thumbnail"><a href="product-default.html"><img src="assets/img/products/electronic/1.jpg" alt="" /></a>
                            <div class="ps-product__badge">-16%</div>
                            <ul class="ps-product__actions">
                                
                                
                                
                                
                            </ul>
                        </div>
                        <div class="ps-product__container"><a class="ps-product__vendor" href="#">Go Pro</a>
                            <div class="ps-product__content"><a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a>
                                <div class="ps-product__rating">
                                    <select class="ps-rating" data-read-only="true">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                    </select><span>01</span>
                                </div>
                                <p class="ps-product__price sale">$567.99 <del>$670.00 </del></p>
                            </div>
                            <div class="ps-product__content hover"><a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a>
                                <p class="ps-product__price sale">$567.99 <del>$670.00 </del></p>
                            </div>
                        </div>
                    </div>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="ps-product">
                        <div class="ps-product__thumbnail"><a href="product-default.html"><img src="assets/img/products/electronic/1.jpg" alt="" /></a>
                            <div class="ps-product__badge">-16%</div>
                            <ul class="ps-product__actions">
                                
                                
                                
                                
                            </ul>
                        </div>
                        <div class="ps-product__container"><a class="ps-product__vendor" href="#">Go Pro</a>
                            <div class="ps-product__content"><a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a>
                                <div class="ps-product__rating">
                                    <select class="ps-rating" data-read-only="true">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                    </select><span>01</span>
                                </div>
                                <p class="ps-product__price sale">$567.99 <del>$670.00 </del></p>
                            </div>
                            <div class="ps-product__content hover"><a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a>
                                <p class="ps-product__price sale">$567.99 <del>$670.00 </del></p>
                            </div>
                        </div>
                    </div>
                  </ng-template>
                  
              </owl-carousel-o>
        </div>
    </div>
</div>