<div class="ps-block--products-of-category">
    <div class="ps-block__categories">
        <h3>Consumer Electronics</h3>
        <ul>
            <li><a href="shop-default.html">Best Seller</a></li>
            <li><a href="shop-default.html">New Arrivals</a></li>
            <li><a href="shop-default.html">TV Television</a></li>
            <li><a href="shop-default.html">Air Condition</a></li>
            <li><a href="shop-default.html">Washing Machine</a></li>
            <li><a href="shop-default.html">Microwave</a></li>
            <li><a href="shop-default.html">Refrigerator</a></li>
            <li><a href="shop-default.html">Office Electronic</a></li>
            <li><a href="shop-default.html">Car Electronic</a></li>
            <li><a href="shop-default.html">Sales & Deals</a></li>
        </ul><a class="ps-block__more-link" href="#">عرض الكل</a>
    </div>
    <div class="ps-block__slider">
        <owl-carousel-o  [options]="customOptions">
            <ng-template carouselSlide>
              <div class="slide">
                <a href="#"><img src="assets/img/slider/home-3/electronic-1.jpg" alt=""></a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <a href="#"><img src="assets/img/slider/home-3/electronic-2.jpg" alt=""></a>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                    <a href="#"><img src="assets/img/slider/home-3/electronic-3.jpg" alt=""></a>
                </div>
              </ng-template>
          </owl-carousel-o>
     
    </div>
    <div class="ps-block__product-box">
        <div class="ps-product ps-product--simple">
            <div class="ps-product__thumbnail"><a href="product-default.html"><img src="assets/img/products/electronic/1.jpg" alt="" /></a>
                <div class="ps-product__badge">-16%</div>
                <ul class="ps-product__actions">
                    
                    <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                    
                    
                </ul>
            </div>
            <div class="ps-product__container">
                <div class="ps-product__content" data-mh="technology"><a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a>
                    <div class="ps-product__rating">
                        <select class="ps-rating" data-read-only="true">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="2">5</option>
                        </select><span>01</span>
                    </div>
                    <p class="ps-product__price sale">$567.99 <del>$670.00 </del></p>
                </div>
            </div>
        </div>
        <div class="ps-product ps-product--simple">
            <div class="ps-product__thumbnail"><a href="product-default.html"><img src="assets/img/products/electronic/2.jpg" alt="" /></a>
                <div class="ps-product__badge out-stock">Out Of Stock</div>
                <ul class="ps-product__actions">
                    
                    <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                    
                    
                </ul>
            </div>
            <div class="ps-product__container">
                <div class="ps-product__content" data-mh="technology"><a class="ps-product__title" href="product-default.html">Xbox One Wireless Controller Black Color</a>
                    <div class="ps-product__rating">
                        <select class="ps-rating" data-read-only="true">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="2">5</option>
                        </select><span>01</span>
                    </div>
                    <p class="ps-product__price">$101.99</p>
                </div>
            </div>
        </div>
        <div class="ps-product ps-product--simple">
            <div class="ps-product__thumbnail"><a href="product-default.html"><img src="assets/img/products/electronic/3.jpg" alt="" /></a>
                <div class="ps-product__badge">-25%</div>
                <ul class="ps-product__actions">
                    
                    <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                    
                    
                </ul>
            </div>
            <div class="ps-product__container">
                <div class="ps-product__content" data-mh="technology"><a class="ps-product__title" href="product-default.html">Sound Intone I65 Earphone White Version</a>
                    <div class="ps-product__rating">
                        <select class="ps-rating" data-read-only="true">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="2">5</option>
                        </select><span>02</span>
                    </div>
                    <p class="ps-product__price sale">$42.00 <del>$60.00 </del></p>
                </div>
            </div>
        </div>
        <div class="ps-product ps-product--simple">
            <div class="ps-product__thumbnail"><a href="product-default.html"><img src="assets/img/products/electronic/4.jpg" alt="" /></a>
                <div class="ps-product__badge out-stock">Out Of Stock</div>
                <ul class="ps-product__actions">
                    
                    <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                    
                    
                </ul>
            </div>
            <div class="ps-product__container">
                <div class="ps-product__content" data-mh="technology"><a class="ps-product__title" href="product-default.html">Samsung Gear VR Virtual Reality Headset</a>
                    <div class="ps-product__rating">
                        <select class="ps-rating" data-read-only="true">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="2">5</option>
                        </select><span>01</span>
                    </div>
                    <p class="ps-product__price">$320.00</p>
                </div>
            </div>
        </div>
        <div class="ps-product ps-product--simple">
            <div class="ps-product__thumbnail"><a href="product-default.html"><img src="assets/img/products/electronic/5.jpg" alt="" /></a>
                <div class="ps-product__badge out-stock">Out Of Stock</div>
                <ul class="ps-product__actions">
                    
                    <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                    
                    
                </ul>
            </div>
            <div class="ps-product__container">
                <div class="ps-product__content" data-mh="technology"><a class="ps-product__title" href="product-default.html">Samsung UHD TV 24inch</a>
                    <div class="ps-product__rating">
                        <select class="ps-rating" data-read-only="true">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="2">5</option>
                        </select><span>01</span>
                    </div>
                    <p class="ps-product__price">$85.00</p>
                </div>
            </div>
        </div>
        <div class="ps-product ps-product--simple">
            <div class="ps-product__thumbnail"><a href="product-default.html"><img src="assets/img/products/electronic/6.jpg" alt="" /></a>
                <div class="ps-product__badge out-stock">Out Of Stock</div>
                <ul class="ps-product__actions">
                    
                    <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                    
                    
                </ul>
            </div>
            <div class="ps-product__container">
                <div class="ps-product__content" data-mh="technology"><a class="ps-product__title" href="product-default.html">EPSION Plaster Printer</a>
                    <div class="ps-product__rating">
                        <select class="ps-rating" data-read-only="true">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="2">5</option>
                        </select><span>01</span>
                    </div>
                    <p class="ps-product__price">$92.00</p>
                </div>
            </div>
        </div>
    </div>
</div>