<div class="ps-home-collection">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 "><a class="ps-collection" href="#"><img src="assets/img/promotions/home-kids/1.jpg" alt=""></a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 "><a class="ps-collection" href="#"><img src="assets/img/promotions/home-kids/2.jpg" alt=""></a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 "><a class="ps-collection" href="#"><img src="assets/img/promotions/home-kids/3.jpg" alt=""></a>
        </div>
    </div>
</div>