<div class="ps-product">
    <div class="ps-product__thumbnail">
      <a>
        <img
          *ngIf="product.product.parentListing == null"
          height="200px"
          width="250px"
          src="{{ server + product.product?.primaryImage?.public_url }}"
          alt=""
        />
        <img
          *ngIf="product.product.parentListing != null"
          height="200px"
          width="250px"
          src="{{
            server +
              product.product?.parentListing?.primaryImage?.public_url
          }}"
          alt=""
        />
      </a>
      <div class="ps-product__badge">
        -{{ getDiscountPercentage(product) }}%
      </div>
    </div>

    <div class="ps-product__container">
      <p class="ps-product__price sale">
        ${{ product.dealPrice }} <del>${{ product.product.price }} </del
        ><small>{{ getDiscountPercentage(product) }}% خصم</small>
      </p>
      <div class="ps-product__content">
        <a
          *ngIf="product.product.parentListing == null"
          class="ps-product__title"
          [routerLink]="['/public/product', product.product.id]"
          [queryParams]="{ type: product?.product.type }"
        >
          {{ product.product.name }}
        </a>
        <a
          *ngIf="product.product.parentListing != null"
          class="ps-product__title"
          [routerLink]="['/public/product', product.product.parentListing.id]"
          [queryParams]="{ type: product?.product.parentListing.type, variation: product?.product.id }"
        >
          {{ product.product.parentListing.name }}
        </a>
        <div class="ps-product__rating"></div>
       
      </div>
    </div>
  </div>