<div class="ps-page--shop" id="shop-categories">
    <section >
        <div class="">
            <div class="row white-card">
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="الفواتير">
                        <app-invoices class="p-4"></app-invoices>
                    </mat-tab>
                    
                    <mat-tab label="معلومات الحساب">
                        <app-user-info class="p-4"></app-user-info>
                    </mat-tab>
                    <mat-tab label="تغيير كلمة المرور">
                        <app-change-password class="p-4"></app-change-password>
                    </mat-tab>
                
                    <mat-tab label="عناوين الشحن المحفوظة">
                        <app-addresses class="p-4"></app-addresses>
                    </mat-tab>
                    <mat-tab label="الإشعارات">
                        <app-notification class="p-4"></app-notification>
                    </mat-tab>
                 
                  </mat-tab-group>
    
             
    
    
            </div>
        </div>
    </section>
</div>
