<div class="ps-home-banner">
    <owl-carousel-o  class="ps-carousel--nav-inside"  [options]="customOptions">
        <ng-template carouselSlide>
            <div class="ps-banner--market-1" data-background="assets/img/slider/home-3/home-banner/1.jpg"><img src="assets/img/slider/home-3/home-banner/1.jpg" alt="">
                <div class="ps-banner__content">
                    <h5>Mega Sale Nov 2019</h5>
                    <h3>Double Combo With <br> The Body Shop</h3>
                    <p>Sale up to <strong>50% Off </strong></p><a class="ps-btn" href="#">Shop Now</a>
                </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="ps-banner--market-1" data-background="assets/img/slider/home-3/home-banner/2.jpg"><img src="assets/img/slider/home-3/home-banner/2.jpg" alt="">
                <div class="ps-banner__content">
                    <h5>Mega Sale Nov 2017</h5>
                    <h3>IKEA Minimalist <br> Otoman</h3>
                    <p>Discount <strong>50% Off </strong></p><a class="ps-btn" href="#">Shop Now</a>
                </div>
            </div>
          </ng-template>
      </owl-carousel-o>
</div>