<div class="ps-my-account">
    <div class="container">
        <form class="ps-form--account ps-tab-root">
            <div class="ps-tabs">
                <div [formGroup]="form" class="ps-tab active" id="sign-in">
                    <div class="ps-form__content">

                        <h3>أدخل بريدك الإلكتروني</h3>
                        <div class="form-group">
                            <input class="form-control" formControlName="email" type="email" placeholder="عنوان البريد الالكترونى">
                        </div>

                        <div class="form-group submtit">
                            <button (click)="forgotPassword()" class="ps-btn ps-btn--fullwidth"> إرسال الرمز السري لاسترداد حسابك</button>
                        </div>
                    </div>
                    <div class="ps-form__footer">

                    </div>

                </div>

            </div>
        </form>
    </div>
</div>