<div class="ps-section__right">
  <form class="ps-form--account-setting" [formGroup]="infoForm">
    <div class="ps-form__header">
      <h3>
        معلومات المستخدم
      </h3>
    </div>
    <div class="ps-form__content mt-4">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>
                الاسم الشخصي
              </mat-label>
              <input matInput type="text"
                formControlName="firstName"
                placeholder="الاسم الشخصي">
            </mat-form-field>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>
                اللقب
              </mat-label>
              <input matInput
                type="text"
                formControlName="lastName"
                placeholder="اللقب">
            </mat-form-field>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">


            <mat-form-field appearance="outline" class="w-100">
              <mat-label>
                رقم الهاتف
              </mat-label>
              <input matInput
                type="tel"
                formControlName="phone"
                placeholder="رقم الهاتف">
            </mat-form-field>


          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>
                البريد الإلكتروني
                <span *ngIf="userData.isEmailVerfied" class="verified">( تم
                  التحقق
                  )</span>
                <span *ngIf="!userData.isEmailVerfied" class="unverified">( تحقق
                  )</span>
              </mat-label>
              <input matInput
                type="email"
                formControlName="email"
                placeholder="البريد الإلكتروني">
            </mat-form-field>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">


            <mat-form-field appearance="outline" class="w-100">
              <mat-label>
                تاريخ الميلاد
              </mat-label>
              <input matInput
                [ngModel]="userData.dateBirth | date: 'yyyy-MM-dd'"
                formControlName="dateBirth"
                type="date">
            </mat-form-field>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>
                الجنس
              </mat-label>
              <mat-select formControlName="gender">
                <mat-option value=""></mat-option>
                <mat-option value="MALE">ذكر</mat-option>
                <mat-option value="FEMALE">أنثى</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group submit float-left">
      <button (click)="updateUserInfo()" class="btn btn-lg mx-2
        btn-warning" mat-raised-button>تحديث</button>
      <button (click)="logout()"  class="btn btn-lg  btn-secondary"
        mat-raised-button>تسجيل خروج</button>
    </div>
  </form>
</div>
