<div class="ps-home-banner ps-home-banner--1" dir="ltr">
    <div class="ps-container">
        <div class="ps-section__left">
            <owl-carousel-o  class="ps-carousel--nav-inside"  [options]="customOptions">
                <ng-template carouselSlide>
                    <a class="slide ps-banner bg--cover"  href="#"><img src="assets/img/slider/home-1/slide-1.jpg" alt=""></a>
                  </ng-template>
                  <ng-template carouselSlide>
                    <a class="slide ps-banner bg--cover"  href="#"><img src="assets/img/slider/home-1/slide-2.jpg" alt=""></a>
                  </ng-template>
                  <ng-template carouselSlide>
                    <a class="slide ps-banner bg--cover"  href="#"><img src="assets/img/slider/home-1/slide-3.jpg" alt=""></a>
                  </ng-template>
              </owl-carousel-o>
        
        </div>
        <div class="ps-section__right"><a class="ps-collection" href="#"><img src="assets/img/slider/home-1/promotion-1.jpg" alt=""></a><a class="ps-collection" href="#"><img src="assets/img/slider/home-1/promotion-2.jpg" alt=""></a></div>
    </div>
</div>