<div class="ps-product">
  <div class="ps-product__thumbnail">
    <a
  
      
    >
      <img
        height="150px"

        *ngIf="product.type == 'SIMPLE_LISTING'"
        src="{{ server + product?.primaryImage?.public_url }}"
        alt=""
      />
      <img
      height="150px"
      
        *ngIf="product.type == 'PARENT_LISTING'"
        src="{{ server + product?.primaryImage?.public_url }}"
        alt=""
      />
    </a>
    <div class="ps-product__badge">17%</div>
    <!--
        <ul class="ps-product__actions">
            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
            <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
        </ul>
        -->
  </div>
  <div class="ps-product__container">
    <div class="ps-product__content">
      <a class="ps-product__title" [routerLink]="['/public/product', product.id]"
      [queryParams]="{ type: product?.type }"
        >Samsung Gallaxy A8 8GB Ram – Sliver Version</a
      >
      <div class="ps-product__rating">
        <select class="ps-rating" data-read-only="true">
          <option value="1">1</option>
          <option value="1">2</option>
          <option value="1">3</option>
          <option value="1">4</option>
          <option value="2">5</option></select
        ><span>01</span>
      </div>
      <p class="ps-product__price sale">$542.99 <del>$592.00</del></p>
    </div>
    <div class="ps-product__content hover">
      <a class="ps-product__title" href="product-default.html"
        >Samsung Gallaxy A8 8GB Ram – Sliver Version</a
      >
      <p class="ps-product__price sale">$542.99 <del>$592.00</del></p>
    </div>
  </div>
</div>
