<footer class="ps-footer">
    <div class="ps-container">
       
        
        <div class="ps-footer__copyright">
            <p>&copy;جميع الحقوق محفوظة</p>
            <p><span>نحن نستخدم الدفع الآمن لـ:</span><a href="#"><img src="assets/img/payment-method/1.jpg" alt="" /></a><a href="#"><img src="assets/img/payment-method/2.jpg" alt="" /></a><a href="#"><img src="assets/img/payment-method/3.jpg" alt="" /></a><a href="#"><img src="assets/img/payment-method/4.jpg" alt="" /></a><a href="#"><img src="assets/img/payment-method/5.jpg" alt="" /></a></p>
        </div>
    </div>
</footer>