<div class="ps-block--recent-viewed">
    <div class="ps-container">
        <div class="ps-block__header">
            <h3>Recently Viewed Products</h3><a href="shop-default.html">عرض الكل</a>
        </div>
        <div class="ps-block__content">
            <a href="#"><img src="assets/img/products/home-kids/recent-view/1.jpg" alt=""></a>
            <a href="#"><img src="assets/img/products/home-kids/recent-view/2.jpg" alt=""></a>
            <a href="#"><img src="assets/img/products/home-kids/recent-view/3.jpg" alt=""></a>
            <a href="#"><img src="assets/img/products/home-kids/recent-view/4.jpg" alt=""></a>
            <a href="#"><img src="assets/img/products/home-kids/recent-view/5.jpg" alt=""></a>
            <a href="#"><img src="assets/img/products/home-kids/recent-view/6.jpg" alt=""></a>
            <a href="#"><img src="assets/img/products/home-kids/recent-view/7.jpg" alt=""></a>
            <a href="#"><img src="assets/img/products/home-kids/recent-view/2.jpg" alt=""></a>
            <a href="#"><img src="assets/img/products/home-kids/recent-view/3.jpg" alt=""></a>
            <a href="#"><img src="assets/img/products/home-kids/recent-view/4.jpg" alt=""></a>
            <a href="#"><img src="assets/img/products/home-kids/recent-view/5.jpg" alt=""></a>
     
            
        </div>
    </div>

</div>