<div class="ps-section__right">
    <form class="ps-form--account-setting" [formGroup]="firstFormGroup"
        (ngSubmit)="changePassword()">
        <div class="ps-form__header">
            <h3>
                تغيير كلمة المرور
            </h3>
        </div>
        <div class="ps-form__content mt-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">

                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>
                                كلمة المرور الحالية
                            </mat-label>
                            <input matInput
                                type="password" formControlName="oldPassword">
                        </mat-form-field>


                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>
                                كلمة المرور الجديد
                            </mat-label>
                            <input matInput
                                type="password" formControlName="newPassword">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group submit float-left">
            <button (click)="changePassword()" class="btn btn-lg mx-2
            btn-warning" mat-raised-button>
                تغيير كلمة المرور
            </button>
        </div>
    </form>
</div>